code.colorize span.default {
  color: black;
}

code.colorize span.symbol {
  color: blue;
}

code.colorize span.string {
  color: green;
}

code.colorize span.character {
  color: green;
}

code.colorize span.comment {
  color: gray;
}

/* Monochromatic Color gradient from <https://www.colorhexa.com/ff0000> */
code.colorize span.paren1 {
  color: #b30000;
}
code.colorize span.paren2 {
  color: #cc0000;
}
code.colorize span.paren3 {
  color: #e60000;
}
code.colorize span.paren4 {
  color: #ff0000;
}
code.colorize span.paren5 {
  color: #ff1a1a;
}
code.colorize span.paren6 {
  color: #ff3333;
}
code.colorize span.paren7 {
  color: #ff4d4d;
}
